/* ALTERNATE - makes text tricky though
html { 
   width:100%; 
   height:100%; 
   background-color:#FCFFF5;
   background-size: auto 109px;
   background-image: url(eklogo_black.png);
   background-repeat: no-repeat;
   background-position: center center;
}


*/

body {
    background-color:#FCFFF5;
}

.frame {
    width: 206px;
    height: 109px;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -65%);
}

#image {
    background: url(eklogo_black.png) no-repeat scroll center top transparent;
    height: 100%;
    width: 100%;
}

#text {
    padding-top: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}