/* Initial body */
body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  color:#193441;
}

/* Basic styling */

.canvas {
  background: #FCFFF5; 
  height: 100%;
  overflow:auto;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
