/* Initial body */
body {
  background:#FCFFF5;
}

.frame {
    width: 206px;
    height: 109px;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    background:red;
}

#image {
    background: url(eklogo_black.png) no-repeat scroll center top transparent;
    height: 109px;
}

#text {
    padding-top: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}