/* GLOBAL */

body {
	font-family: 'Karla', Helvetica, sans-serif !important;
}

a,
a:hover {
  text-decoration: none !important;
}

.px-5px {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

/* BODY */

.container-body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 26px;
}

.divider {
	padding-left: 11px !important;
	padding-right: 11px !important;
}

/* CARDS */

.card {
  margin-bottom: 10px;
  border: 1px solid #e8e8e8 !important;
}

a .card:hover {
  -webkit-box-shadow: 4px 4px 5px -3px rgba(170,170,170,0.6);
  -moz-box-shadow: 4px 4px 5px -3px rgba(170,170,170,0.6);
  box-shadow: 4px 4px 5px -3px rgba(170,170,170,0.6);
}

.card-block {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.card img {
  max-width: 56px;
  margin: 8px;
}

.card-title {
  color: #212529;
  margin-top: 6px;
  margin-bottom: 4px !important;
}

.card-text {
  font-size: 14px;
  line-height: 1.3;
}

/* BIO */

.bio {
  border: 0px;
}

.bio img {
	border-radius: 50%;
  max-width: 90px;
  margin: 8px;
}

.bio .card-title {
  margin-top: 9px;
	font-weight: 600;
	font-size: 19px;
}

.bio .card-text {
  font-size: 15px;
  line-height: 1.4;
}

/* SOCIAL */

.social {
  padding-top: 6px;
  padding-bottom: 4px;
  line-height: 1.4;
}

.social a {
  font-size: 0.9rem;
  color: #6c757d;
}

.social a:hover {
	color: black;
}

/* FOOTER 

.footer img {
  width: 40px;
  background: white;
  margin: 0 auto;
  display: block;
}

*/